package components

templ FormMessage(isError bool, align string, m string) {
  if isError {
    <p class="mt-1 text-red-500 text-xs italic" style="text-align: {align}">{m}</p>
  } else {
    <p class="mt-1 text-green-500 text-xs italic" style="text-align: {align}">{m}</p>
  }
}